# Dependências do Node (são pesadas e instaláveis via npm install)
node_modules/

# Variáveis de Ambiente (CRÍTICO: Protege sua API Key do Gemini e senhas de banco)
.env

# Logs de erro e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Arquivos de sistema operacional (lixo)
.DS_Store
Thumbs.db

# Pastas de build ou temporárias (opcional, mas boa prática)
dist/
coverage/